html, body { 
   height: 100%;
}

body{
    font-size: 10px;
    background: rgb(239, 241, 240);
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
} 

.main-header {
    flex: 0 1 auto;
}

.logo-text{
    background: rgb(239, 241, 240);
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
    color: rgb(218, 111, 165);
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.thumbnail-list {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    flex: 0 1 auto;
    order: 2;
    display: flex;
    justify-content: space-between;
}

.thumbnail-item {
    display: inline-block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    min-width: 120px;
    max-width: 120px;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;
    background:rgb(75, 88, 91);
    color: rgb(239, 241, 240);
    font-size: 18px;
}

.detail-image-container {
    flex: 1 1 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.detail-image-frame {
    /* display: flex;
    flex: 1 1 auto; */
    text-align: center;
    position: relative;
}

.detail-image {
    width: 90%;
}

.detail-image-title {
    position: absolute;
    bottom: -16px;
    left: 4px;
    color: rgb(218, 111, 165);
    font-size: 40px;
}

@media all and (orientation: portrait) {
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }

    .thumbnail-list {
        flex-direction: column;
        order: 0;
        margin-left: 20px;
    }

    .thumbnail-item {
        max-width: 260px;
    }

    .thumbnail-item + .thumbnail-item {
        margin-top: 20px;s
    }
}

@media all and (orientation: landscape) {

}